.start-snow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -3rem;
  width: 100%;
  height: 70px;
}

.start-snow button {
  opacity: 0;
  margin-top: 220px;
  transition: opacity 1s ease;
  background-image: url('/images/snowy.svg');
  background-color: transparent;
  font-size: 24px;
  color: rgb(182, 164, 167);
  font-family: var(--main-font);
  border: none;
  height: 115px;
  width: 300px;
  cursor: pointer;
}

.start-snow button:hover {
  color: rgb(203, 197, 198);
}

.container-snow {
  width: 100%;
  /*   height: 115vh; */
  height: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  overflow: hidden;
  display: none;
  z-index: -1;
  pointer-events: visible;
  margin-top: -2rem;
  top: -20px;
}

.snow-flake {
  height: 1px;
  animation: fall 30s linear forwards infinite;
  color: var(--snow-color);
  font-family: var(--snow-font);
  font-weight: 300;
}

@keyframes fall {
  from {
    transform: translateY(0vh) rotate(380deg);
  }
  to {
    transform: translateY(100vh);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
    background-color: rgba(255, 255, 255, 0.5);
  }
  60% {
    transform: translateY(-5px);
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.bounce {
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@media screen and (min-width: 1024px) {
  .start-snow {
    margin-top: 3rem;
  }

  .start-snow button {
    margin-top: 30px;
  }
}
