:root {
  --bg-color: #ede7eb;
  --accent-color: rgb(220, 134, 134);
  --font-color: #ba2626;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
}

.box {
  width: 100%;
  height: 100vw;
}

.cursor {
  width: 35px;
  height: 35px;
  position: relative;
  font-size: 3rem;
}
